site_name: Seillama Docs
site_author: Seillama
repo_name: seillama-docs
repo_url: https://github.com/seillama-io/seillama-docs
edit_uri: edit/main/docs/
extra_css:
  - custom.css
theme:
  name: material
  custom_dir: material/.overrides
  logo: images/logo.png
  favicon: images/logo.png
  language: en
  font:
    text: IBM Plex Sans
    #code: IBM Plex Mono
  features:
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    #- navigation.sections
    #- navigation.expand
    - navigation.prune 
    - navigation.indexes
    - content.action.edit
    - content.action.view
    - content.code.copy
    #- navigation.header
    #- navigation.footer
  palette:
    # Palette toggle for dark mode
    - scheme: slate
      primary: black
      accent: light green
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - scheme: default
      primary: black
      accent: green
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences 
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji 
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
nav:
  - Home: index.md
  - Containers:
    - containers/podman/podman-wsl.md
  - Linux:
    - linux/ubuntu-trust-ca.md
  - Kubernetes:
    - Install:
      - kubernetes/install/k3s.md
      - kubernetes/install/kubespray.md
      - kubernetes/install/rpi.md
    - Operations:
      - kubernetes/ops/aliases.md
      - kubernetes/ops/plugins.md
      - kubernetes/ops/cert-manager.md
      - kubernetes/ops/docker-registry.md
      - kubernetes/ops/nginx-ingress.md
    - Self-Hosted Software:
      - kubernetes/software/artifactory.md
      - kubernetes/software/sonarqube.md
      - kubernetes/software/harbor.md
      - kubernetes/software/gitlab.md
      - kubernetes/software/wikijs.md
  - DevSecOps:
    - Cloud-Native Toolkit:
      - devops/cloud-native-toolkit/install-toolkit.md
extra:
  consent:
    title: Cookie consent
    description: >- 
      I'm using cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of my documentation and whether users
      find what they're searching for. With your consent, you're helping me to
      make our documentation better.
  analytics:
    provider: google
    property: G-VR2WWNJJ7W
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >- 
            Thanks for your feedback! Help me improve this doc by openning a <a href="https://github.com/seillama-io/seillama-docs/issues/new?assignees=NoeSamaille&labels=documentation%2C+enhancement&template=issue-report.md&title=" target="_blank" rel="noopener">new issue</a>.
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/seillama-io
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/seillama_
